{% extends 'base.html.twig' %}

{% block title %}Assigner des arbitres{% endblock %}

{% block body %}
    <h1>Assigner des arbitres au tournoi : {{ tournoi.nom }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
