{% extends 'base.html.twig' %}

{% block title %}Assigner des arbitres{% endblock %}

{% block body %}
    
    <div class="tournoi-container">
        <h2 class="titreH2">Assigner des arbitres au tournoi : {{ tournoi.nom }}</h2>
        <div class="form-container">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
