{% extends 'base.html.twig' %}

{% block title %}Mes Tournois{% endblock %}

{% block body %}

    <div class="tournoi-container-user">
        <h2 class="titreH2">Mes Tournois</h2>

        {% if tournois is not empty %}
            <ul class="tournoi-list">
                {% for categorieTournoi in tournois %}
                    <li class="tournoi-item">
                        <a href="{{ path('app_tournoi_show', { id: categorieTournoi.tournoi.id }) }}" class="tournoi-link">
                            <span class="tournoi-name">{{ categorieTournoi.tournoi.nom }}</span> - 
                            <span class="tournoi-dates">
                                {{ categorieTournoi.tournoi.dateDebut|date('d/m/Y') }} à 
                                {{ categorieTournoi.tournoi.dateFin|date('d/m/Y') }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="tournoi-empty">Vous n'avez participé à aucun tournoi.</p>
        {% endif %}
    </div>
{% endblock %}
