{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}
<div class="tournament-list">
    <h2 class="titreH2">Liste des Tournois</h2>
    {% for tournoi in tournois %}
        <ul>
            <li>
                <a href="{{ path('app_tournoi_show', { id: tournoi.id }) }}">
                    {{ tournoi.nom }}
                </a>
            </li>
        </ul>
    {% endfor %}
</div>
{% endblock %}
