{% extends 'base.html.twig' %}

{% block title %}Modifier un Tournoi{% endblock %}

{% block body %}
    <div class="tournoi-container">
        <h2 class="titreH2">Modifier un Tournoi</h2>
        <div class="form-container">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
