{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupes du Tournoi</h1>

    {% for resultat in resultats %}
        <h2>{{ resultat.groupe }}</h2>
        <ul>
            {% for combattant in resultat.combattants %}
                <li>{{ combattant }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
