{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="titreH2">Groupes du Tournoi</h2>

    <a class="bouton_redirection" href="{{ path('app_tournoi_show', { id: tournoi.id }) }}">Retour au tournoi</a>
    <div class="groupes-container">
        {% for resultat in resultats %}
            <div class="groupe">
                <h3 class="groupe-titre">{{ resultat.groupe }}</h3>
                <ul class="groupe-liste">
                    {% for combattant in resultat.combattants %}
                        <li class="groupe-item">{{ combattant }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
