{% for combat in combats %}
    {% if combat.phase == 'Quart de finale' %}
        <p>Combat Quart de finale : {{ combat.combattant1.nom }} vs {{ combat.combattant2.nom }}</p>
    {% endif %}
{% endfor %}
