{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="mentions-legales marge">
    <h2 class="titreH2">Mentions Légales</h2>


        <h3>Éditeur du site</h3>
        <p>
            Nom de l'entreprise : JudokaConnect<br>
        </p>

        <h3>Propriété intellectuelle</h3>
        <p>
            Le contenu du site (textes, images, graphismes, logo, icônes, etc.) est la propriété exclusive de JudokaConnect sauf mention contraire. Toute reproduction, distribution, modification, adaptation, retransmission ou publication de ces éléments, même partielle, est strictement interdite sans l'accord écrit préalable de JudokaConnect.
        </p>

        <h3>Données personnelles</h3>
        <p>
            Conformément à la loi "Informatique et Libertés" et au Règlement Général sur la Protection des Données (RGPD), vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Pour exercer ces droits, veuillez contacter JudokaConnect.
        </p>

        <h3>Responsabilité</h3>
        <p>
            JudokaConnect ne peut être tenu responsable des dommages directs ou indirects causés au matériel de l'utilisateur lors de l'accès au site, et résultant soit de l'utilisation d'un matériel ne répondant pas aux spécifications techniques nécessaires, soit de l'apparition d'un bug ou d'une incompatibilité.
        </p>
        </br></br></br></br></br>
        <div class="footer">
            &copy; 2024 JudokaConnect - Tous droits réservés.
        </div>
    </div>
{% endblock %}
