{% extends 'base.html.twig' %}

{% block title %}Clubs{% endblock %}

{% block body %}
    <h2 class="titreH2">Liste des Clubs</h2>

    <div class="clubs-container">
        <ul class="clubs-liste">
            {% for item in clubs %}
                <li class="club-item">
                    <h3 class="club-nom">{{ item.club.nom }}</h3>
                    <p class="club-adherants-count">Nombre d'adhérents: {{ item.count }}</p>

                    <h4 class="club-adherants-titre">Liste des Adhérents:</h4>
                    <ul class="club-adherants-liste">
                        {% for adherant in item.adherants %}
                            <li class="club-adherant-item">{{ adherant.prenom }} {{ adherant.nom }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
