{% extends 'base.html.twig' %}

{% block title %}Clubs Create{% endblock %}

{% block body %}

<div class="tournoi-container">
    <h2 class="titreH2">Créer un club</h2>
    <div class="form-container">
        {{ form(form) }}
    </div>
</div>

{% endblock %}
