{% extends 'base.html.twig' %}

{% block title %}Clubs{% endblock %}

{% block body %}
    <h1>Liste des Clubs</h1>

    <ul>
        {% for item in clubs %}
            <li>
                <h2>{{ item.club.nom }}</h2>
                <p>Nombre d'adhérents: {{ item.count }}</p>

                <h3>Liste des Adhérents:</h3>
                <ul>
                    {% for adherant in item.adherants %}
                        <li>{{ adherant.prenom }} {{ adherant.nom }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
