{% extends 'base.html.twig' %}

{% block title %}Modifier son Profil{% endblock %}


{% block body %}
<div class="tournoi-container">
    <h2 class="titreH2">Modifier son Profil</h2>
    <div class="form-container">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
